# Node.js dependencies
frontend/node_modules/

# Python virtual environment
backend/venv/

# VS Code settings
.vscode/

# macOS specific files
.DS_Store

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
backend/.env
